html, body{
    background-color:black;
    font-size: 25px;
  }
 #header{
    font-size: 45px;
    color: white;
    text-align: center;
 }

#map{
    height: 600px;
    width: 100%;
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

#search{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    color: white;
    font-size: 25px;
}
input[type="text"] {
   width: 300px;
}

input, select, textarea{
    color: grey;
}